.hero-and-nav-bar {
    width: 100%;
    position: relative;
    color: white;
    height: 100vh;
    margin-bottom: 20px;
    overflow: hidden;
}
.nav-bar-and-content {
    width: 100%;
    position: absolute;
    z-index: 2;
}
.hero-bg-img {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    object-fit: cover;
}
.hero-main-content {
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-left: 7vw;
}
.hero-text-backslash > p {
    font-size: 75px;
    font-weight: 500;
    line-height: 0%;
}
.hero-main-context-text {
    margin-left: 10px;
}
.hero-main-context-text-big {
    font-size: 35px;
    font-weight: 600;
    line-height: 0%;
}
.hero-main-context-text-small {
    font-size: 20px;
    line-height: 0%;
}
.hero-footer {
    margin-top: 200px;
}
.hero-footer-text > p {
    text-align: center;
}
.hero-footer-arrow {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-content > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.main-content-body {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 100px;
}
.main-content-body > img {
    padding: 30px;;
}
.main-content-img {
    width: 40%;
}
.contact-us {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
}
.contact-us > p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Mobile Responsive CSS */
@media (max-width: 1024px) {
    .hero-main-content {
        margin-top: 20vh;
    }
    .hero-text-backslash > p {
        font-size: 150px;
    }
    .hero-main-context-text-big {
        font-size: 80px;
    }
    .hero-main-context-text-small {
        font-size: 55px;
    }
    .hero-footer {
        display: none;
    }
    .hero-and-nav-bar {
        height: 1500px;
    }
    .main-content-img {
        display: none;
    }
    .main-content-body {
        display: none;
    }
    .main-content-writeup {
        padding: 0 100px;
    }
    .contact-us > p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .hero-main-content {
        margin-top: 20vh;
        margin-left: 7vw;
    }
    .hero-text-backslash > p {
        font-size: 90px;
        font-weight: 500;
    }
    .hero-main-context-text-big {
        font-size: 40px;
    }
    .hero-main-context-text-small {
        font-size: 24px;
    }
    .hero-footer {
        margin-top: 250px;
    }
    .hero-footer-text > p {
        font-size: 20px;
    }
}